<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charSet="utf-8" />
    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="http://fit-net.rs" />
    <meta property="og:title"  content="Sport kakav zaista jeste!" />
    <meta property="og:image"  content="https://s3.eu-central-1.amazonaws.com/zaluku/logo2.png" />
    <meta property="og:description"
    content="Fit-Net Sport kakav zaista jeste. Dobrodosli!" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      #main{
        height: 100%;
        min-height: 100%;
      }
    </style>
    <title>ReactQL app</title>
  </head>
  <body>
    <div id="main"></div>
    <script defer src="/vendor.js"></script>
    <script defer src="/browser.js"></script>
  </body>
</html>
