@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic-ext');
$blue: #28a7e9;
$blue-rgb: rgb(61, 75, 105);
$blue-rgba: rgba(61, 75, 105, 0.7);

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
.mainWrapper{
  min-height: 100%;
  background-image: url('../../static/mainBg.jpg');
  background-position-x: left;
  background-position-y: top;
  background-size: cover;

}
h1,h2,h3,h4,h5,h6,a,li,ul,p{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
}
.backgroundImage{
  height: 100vh;}
// HEADER
.header{
  display: flex;
  flex-direction: column;
}
.headerBox1{
  flex: 1;
  display: flex;
  background-color: rgba(34, 31, 31, 0.7);
  padding: 20px 0;
}
.logoBox{
  flex: 1;
  display: flex;
}
.logoBox h1{
  color: blue;
  margin: auto auto auto 100px;
}
.loginBox{
  flex: 1;
  display: flex;
}
.loginWrapper{
  margin: auto 50px auto auto;
  display: flex;
}
.loginWrapper>div{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.login, .singUp{
  background-color: $blue-rgb;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}
.loginLost, .singUpLost{
  font-size: 12px;
  margin-top:10px;
  color: #fff;
  cursor: pointer;
}
.headerBox2{
  display: flex;
  background-color: $blue-rgba;
  padding: 10px 0;
}
.navigation{
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 10%;
}
.navigationItem{
  margin-right: 75px;
  color: #fff;
}
.navigationItem p{
  font-size: 24px;
}
// END HEADER
// COACHES
.coaches{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  height: calc(100vh-250px);
}
.coachesImgWrapper{
  flex: 1;
  display: flex;
  height: 100%;
}
.searchBoxWrapper{
  flex: 1;
}
.searchBox{
  margin: 0 auto;
  max-width: 700px;
  background-color: $blue-rgba;
  padding: 20px;
  // min-width: 600px;
}
.inputWrapper{
  flex: 1;
  margin-bottom: 20px;
  display: flex;
}
// .kategorija{
//   max-height: 200px;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }
.categorie{
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.categorieButton{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.opstina{
  position: relative;
  cursor: pointer;
}
.categorieModal{
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: relative;
  // padding: 0 200px;
  max-width: 1200px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.categorieModalWrapper{
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 60%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: scroll;
  margin: 0 auto;
  max-height: 60%
}
.categorieModalItem{
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(61, 75, 105, 0.3);
  margin: 10px;
  border:  #28a7e9 solid 1px;
  border-radius: 2px;
  label {
    font-size: 15px;
    font-weight: 700;
  }
}
.categorieModalItem:hover{
  background-color:  rgba(61, 75, 105, 0.8);
  label {
    font-size: 15;
    font-weight: 700;
    color: #fff;
  }
}
.sertifikat{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.sertifikatBox1{
  flex: 1;
  display: flex;
  p{
    padding: 0;
    margin: auto auto auto 0;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
  }
}
.labelStyle {
  font-size: 19px;
  color: #fff;
  font-weight: 700;
}
.sertifikatBox2{
  flex: 1;
  display: flex;
  flex-direction: row;
  div{
    flex: 1;
  }
}
.sendParams{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 10px;
  background: $blue;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}
.categoriesAlert, .countiesAlert{
  background: red;
  position: absolute;
  left: 110%;
  top: 0;
}
// END COACHES
.radio{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid $blue;
  cursor: pointer;
  transition: 1s;
  padding: 3px;
  overflow: hidden;
  margin-top: 5px;
}
.radioOn{
  width: 100%;
  background: $blue;
  border-radius: 100%;
  opacity: 0;
  transition: 400ms;
  height: 20px;
}
.radioOff{
  height: 20px;
  width: 100%;
  background: $blue;
  border-radius: 100%;
  opacity: 1;
  transition: 400ms;
}
.pricesInputHolder{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px){
  .searchBox {
    padding: 10px;
  }
  .headerBox1 {
    padding: 10px 0;
  }
  .navigationItem{
    margin-right: 30px;
  }
  .navigationItem p{
    font-size: 16px;
  }
  .pricesInputHolder{
    flex-direction: column;
  }
  .sendParams{
    width: 95%;
    margin-top: 10px;
    margin-left: 0;
  }
  .sertifikat {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  .sertifikatBox2 {
    width: 100%;
    padding: 10px;
  }
  .labelStyle {
    font-weight: bold;
    font-size: 15px;
  }
  .navigationItem {
    margin-right: 0;
  }
  .navigation {
    width: 80%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
  }
  .searchBoxWrapper {
    width: 100%;
  }
  .coaches {
    padding: 0;
    padding-top: 2px;
  }
  .categorieTitle {
    font-family: Comfortaa, cursive;
    text-align: center;
    padding-top: 0;
    padding: 10px;
  }
  .countieTitle {
    font-family: Comfortaa, cursive;
    text-align: center;
    padding-top: 0 !important;
    padding: 10px;
  }
  .countiePTag {
    color: #fff;
    font-weight: bold;
  }
  .logoBox {
    padding-left: 20px;
    h1 {
      margin: 0;
      font-size: 20px;
    }
  }
  
}
.categorieTitle {
  font-family: Comfortaa, cursive;
  padding-top: 0;
  padding: 10px;
}
.countieTitle {
  font-family: Comfortaa, cursive;
  padding-top: 0 !important;
  padding: 10px;
  padding-left: 0;
}
.countiePTag {
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 1024px){
  .coaches{
    flex-direction: column;
    height: 100%;
  }
}
