@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800&subset=latin-ext');
$blue: #28a7e9;
$blue-rgb: rgb(61, 75, 105);
$blue-rgba: rgba(61, 75, 105, 0.96);

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.mainWrapper{
  height: 100%;
  background-image: url('../../static/mainBg.jpg');
  background-position-x: left;
  background-position-y: top;
  background-size: cover;

}

p {
  font-weight: 600;
}

// custom select css Start
.customSelect {
  position: relative;
}
.customSelect select {
  background-color: #fff;
  width: 100%;
  height: 60px;
  font-size: 1.14em;
  color: rgb(169, 169, 169);
  font-weight: bold;
}
//  custom select END
// recycle Item 
.recycleItem {
  width: 100%;
  height: 40px;
  display: flex;
}

.loginBtnFacebook {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
    text-align: center;
}
.loginBtnFacebook:hover,
.loginBtnFacebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
.loginBtnFacebook:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtnFacebook:focus {
  outline: none;
}
.loginBtnFacebook:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtnGoogle {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  background: #DD4B39;
  text-align: center;
}
.loginBtnGoogle:hover,
.loginBtnGoogle:focus {
  background: #E74B37; 
}
.loginBtnGoogle:before {
content: "";
box-sizing: border-box;
position: absolute;
top: 0;
left: 0;
width: 34px;
height: 100%;
border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.card {
  width: 290px;
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(61,75,105,.7);
  border-radius: 2px;
  display: inline-block;
  position: relative;
  box-shadow: 0 4px 8px rgba(129,154,206,0.30), 0 5px 5px rgba(0,0,0,0.22);
}

.tableFill {
  background: rgba(61,75,105,.7);
  border-radius:3px;
  border-collapse: collapse;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  tr {
    color: #fff;
    font-size:16px;
    font-weight:bold;
    height: 80px;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
  tr:nth-child(odd) td {
    background:#EBEBEB;
    color:#28a7e9 !important;
    font-weight: bold
  }
  td {
    text-align: center;
  }
}

.biggerFont {
  input {
    text-transform: capitalize;
    color: #0085ff!important;
  }
  textarea {
    text-transform: capitalize;
    color: #0085ff!important;
  }
}

.brightFont {
  input {
    color: #0085ff!important;
  }
  textarea {
    color: #0085ff!important;
  }
}

.priceLabel {
  color: #fff; 
  font-size: 17px; 
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6,a,li,ul,p{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
}
.backgroundImage{
  height: 100vh;
}
// HEADER
.header{
  display: flex;
  flex-direction: column;
}
.headerBox1{
  flex: 1;
  display: flex;
  background-color: rgba(34, 31, 31, 0.7);
}
.logoBox{
  flex: 1;
  display: flex;
  padding-left: 20px;
}
.logoBox h1{
  color: blue;
  margin: auto auto auto 100px;
}
.loginBox{
  flex: 1;
  display: flex;
  min-width: 150px;
}
.loginWrapper{
  margin: auto 50px auto auto;
  display: flex;
  min-width: 150px;
}
.loginWrapper>div{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.login, .singUp{
  background-color: $blue-rgb;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}
.loginLost, .singUpLost{
  font-size: 12px;
  margin-top:10px;
  color: #fff;
  cursor: pointer;
}
.headerBox2{
  display: flex;
  background-color: $blue-rgba;
  padding: 10px 0;
}
.navigation{
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 10%;
}
.navigationItem{
  margin-right: 75px;
  color: #fff;
}
.navigationItem p{
  font-size: 24px;
}
.uploadButtonsContainer {
  display: flex;
  margin: 0 auto;
}
// END HEADER
// COACHES
.coaches{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 55px;
  height: calc(100vh-250px);
}
.coachesImgWrapper{
  flex: 1;
  display: flex;
  height: 100%;
}
.searchBoxWrapper{
  flex: 1;
}
.searchBox{
  margin: 0 auto;
  max-width: 700px;
  background-color: $blue-rgba;
  padding: 20px;
  // min-width: 600px;
}
.inputWrapper{
  flex: 1;
  margin-bottom: 20px;
  display: flex;
}
// .kategorija{
//   max-height: 200px;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }
.categorie{
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.categorieButton{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.opstina{
  position: relative;
  cursor: pointer;
}
.modalCategoriesClass{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}
.modalCountiesClass{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001
}
.categorieModal{
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: relative;
  padding: 0 5%;
}
.categorieModalWrapper{
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: scroll;//treba se staviti u potrebnom media query-ju
  background-color: #fff;
}
.categorieModalItem{
  cursor: pointer;
  width: 200px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10px;
  border:  #28a7e9 solid 1px;
  border-radius: 2px;
  label {
    font-size: 15px;
    font-weight: 600;
  }
}
.categorieModalItem:hover{
  background-color:  rgba(61, 75, 105, 0.8)!important;
  label {
    font-size: 15;
    font-weight: 600;
    color: #fff!important;
  }
}
.sertifikat{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.sertifikatBox1{
  flex: 1;
  display: flex;
  p{
    padding: 0;
    margin: auto auto auto 0;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
  }
}
.labelStyle {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
}
.sertifikatBox2{
  flex: 1;
  display: flex;
  flex-direction: row;
  div{
    flex: 1;
  }
}
.sendParams{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 10px;
  background: $blue;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}
.categoriesAlert, .countiesAlert{
  background: red;
  position: absolute;
  left: 110%;
  top: 0;
}
// END COACHES
.radio{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid $blue;
  cursor: pointer;
  padding: 3px;
  overflow: hidden;
  margin-top: 5px;
}
.radioOn{
  width: 100%;
  background: $blue;
  border-radius: 100%;
  opacity: 0;
  transition: 400ms;
  height: 20px;
}
.radioOff{
  height: 20px;
  width: 100%;
  background: $blue;
  border-radius: 100%;
  opacity: 1;
  transition: 400ms;
}
.pricesInputHolder{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coachesWrapper{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coachesHolder{
  width: 80%;
  padding-top: 50px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filteredCoaches{
  display: flex;
  background: rgba(0, 63, 121, 0.28);
  border-radius: 7px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.filteredCoachesImgWrapper{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  position: relative;
}
.socialWrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialContainerButton {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  height: 40px;
}

.infoProfileWrapper{
  flex: 2.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  align-items: flex-start;
  padding-left: 10px;
}
.infoProfileHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  align-items: flex-start;
  padding-left: 10px;
}
.coacheName{
  font-size: 40px;
  color: $blue;
  font-weight: 700;
}
.coacheBirthPlace{
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
.coacheBday{
  font-size: 25px;
  color: #fff;
  font-weight: 700; 
}
.coacheClub{
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
.coacheTags{
  font-size: 18px;
  color: #fff;
  font-weight: 700; 
}
.profileAboutWrapper{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 300px;
}
.profileAboutHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
}
.coacheAbout{
  font-size: 22px; 
  color: #fff;
  font-weight: 700;
}
.coacheMoreButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 135, 233);
  width: 135px;
  border-radius: 10px;
  padding: 13px;
}
button {
  border: 0 solid rgba(0, 0, 0, 0);
  background-color: rgb(40, 167, 233);
  color: #ffffff;
  border-radius: 5px
}
.coacheButton{
  font-size: 18px;
  color: #fff; 
  font-weight: 700;
}
.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.loginModalWrapper{
  position: absolute;
  background: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.loginModalHolder{
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 65%;
  background: #15233c;
  border-radius: 10px;
}
.modalClass{
  display: flex;
  height: 100%;
  padding: 5px;
}
.labelsRegister {
  color: white !important; 
  font-size: 17;
}
.socialWrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infoProfileWrapper{
  flex: 2.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  align-items: flex-start;
  padding-left: 10px;
}
.infoProfileHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  align-items: flex-start;
  padding-left: 10px;
}
.coacheName{
  font-size: 40px;
  color: $blue;
  font-weight: 700;
}
.coacheBirthPlace{
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
.coacheBday{
  font-size: 25px;
  color: #fff;
  font-weight: 700; 
}
.coacheClub{
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
.coacheTags{
  font-size: 18px;
  color: #fff;
  font-weight: 700; 
}
.profileAboutWrapper{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 300px;
}
.profileAboutHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
}
.coacheAbout{
  font-size: 22px; 
  color: #fff;
  font-weight: 700;
}
.coacheMoreButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 135, 233);
  width: 135px;
  border-radius: 10px;
  padding: 13px;
}
.coacheButton{
  font-size: 18px;
  color: #fff; 
  font-weight: 700;
}
// REGISTER FISIO INPUT
.registerFisioWrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.registerInput{
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  width: 320px;
}
.registerInput::placeholder{
  font-size: 18px;
}
.registerFisio{

}
.registerFisioOne{
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: rgba(61, 75, 105, .96);
  padding: 20px;
}
.inputWrapperForm {
  width: 340px;
}
.registerFisioOne:nth-child(1){
  margin-top: 20px;
}
// REGISTER FISIO INPUT END
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
.inputMoreSkills {.socialContainerButton {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  height: 40px;
}
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  background-color: rgba(61, 75, 105, .96);
  margin: 0 auto;
  width: 700px;
}
.endMoreSkillsButtonPointer {
  position: fixed;
  bottom: 10%;
  left: 5%;
  width: 170px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background: $blue;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.endMoreSkillsButton {
  position: fixed;
  opacity: 0.65;
  cursor: default;
  bottom: 10%;
  left: 5%;
  width: 170px;
  height: 60px;
  text-align: center;
  background: $blue;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setMoreSkillsButton {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 170px;
  height: 60px;
  text-align: center;
  background: $blue;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px){
  #dissapearForPros {
    display: none;
  }
  .socialContainerButton {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 80px;
  }
  .coachesHolder {
    padding-top: 20px;
  }
  .coaches{
    flex-direction: column;
    height: 100%;
  }
  .uploadButtonsContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .priceContainer {
    width: 95%;
  }
  .priceLabel {
    padding-left: 10px;
  }
    .coaches{
    flex-direction: column;
    height: 100%;
  }
  .searchBox {
    padding: 10px;
  }
  .endMoreSkillsButtonPointer {
    position: fixed;
    bottom: 0%;
    left: 5%;
    width: 170px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    background: $blue;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .endMoreSkillsButton {
    position: fixed;
    opacity: 0.65;
    cursor: default;
    bottom: 0%;
    left: 5%;
    width: 170px;
    height: 45px;
    text-align: center;
    background: $blue;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .setMoreSkillsButton {
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 170px;
    height: 45px;
    text-align: center;
    background: $blue;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inputMoreSkills {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    background-color: rgba(61, 75, 105, .96);
    margin: 0 auto;
    width: 360px;
  }
  .categorie {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .categorieButton {
    width: 85%;
  }
  .pricesInputHolder{
    flex-direction: column;
  }
  .sendParams{
    width: 91%;
    margin-top: 10px;
    margin-left: 0;
  }
  .sertifikat {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  .sertifikatBox2 {
    width: 100%;
    padding: 10px;
  }
  .labelStyle {
    font-weight: bold;
    font-size: 15px;
  }
  .navigationItem {
    margin-right: 0;
  }
  .navigation {
    width: 80%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
  }
  .searchBoxWrapper {
    width: 100%;
  }
  .coaches {
    padding: 0;
    padding-top: 2px;
  }
  .categorieTitle {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding-top: 0;
    padding: 10px;
    font-weight: 600;
  }
  .countieTitle {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding-top: 0 !important;
    padding: 10px;
  }
  .countiePTag {
    color: #fff;
    font-weight: bold;
  }
  .logoBox {
    h1 {
      margin: 0;
      font-size: 20px;
    }
  }
  .filteredCoaches{
    background: rgba(61,75,105,.76);
    border-radius: 7px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .filteredCoachesImgWrapper{
    margin-bottom: 10px;
  }  
  .infoProfileWrapper{
    margin-bottom: 10px;
    padding: 0;
  }
  .profileAboutHolder {
    padding: 0 10px;
  }
  .coacheName {
    color: $blue;
  }
  .infoProfileHolder{
    padding: 0;
  }
  .categorieTitle {
    font-family: 'Work Sans', sans-serif;
    padding-top: 0;
    padding: 10px;
  }
  .countieTitle {
    font-family: 'Work Sans', sans-serif;
    padding-top: 0 !important;
    padding: 10px;
    padding-left: 0;
  }
  .countiePTag {
    color: #fff;
    font-weight: bold;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px){
  #dissapearForPros {
    display: none;
  }
  .socialContainerButton {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 80px;
  }
  .coaches{
    flex-direction: column;
    height: 100%;
  }
  .filteredCoaches{
    flex-direction: column;
    align-items: center;
    background: rgba(61,75,105,.76);
  }
  .filteredCoachesImgWrapper{
    margin-bottom: 10px;
  }
  .infoProfileWrapper{
    margin-bottom: 10px;
    padding: 0;
  }
  .infoProfileHolder{
    padding: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  #dissapearForPros {
    display: none;
  }
  .socialContainerButton {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 80px;
  }
  .categorieModal{
    padding: 0 20px;
  }
  .coaches{
    flex-direction: column;
    height: 100%;
  }
  .filteredCoaches{
    background: rgba(61,75,105,.76);
    flex-direction: column;
    align-items: center;
  }
  .filteredCoachesImgWrapper{
    margin-bottom: 10px;
  }
  .infoProfileWrapper{
    margin-bottom: 10px;
    padding: 0;
  }
  .infoProfileHolder{
    padding: 0;
  }
}

@media screen and (max-width: 1440px){
  .filteredCoaches{
    background: rgba(61,75,105,.76);
    margin-bottom: 50px;
  }
  .filteredCoachesImgWrapper{
    width: 230px;    
    height: 230px;
  }
  .infoProfileWrapper{
    height: 200px;
  }
  .infoProfileHolder{
    height: 200px;
  }
  .coacheName{
    font-size: 24px;
  }
  .coacheBirthPlace{
    font-size: 16px;
  }
  .coacheBday{
    font-size: 16px;
  }
  .coacheClub{
    font-size: 16px;
  }
  .coacheTags{
    font-size: 12px;
  }
  .profileAboutWrapper{
    height: 230px;
  }
  .profileAboutHolder{
    height: 200px;
    align-items: center;
  }
  .coacheAbout{
    font-size: 16px;
  }
}
